body {
  background-color: black;
  font-family: Arial, sans-serif;
  margin: 20px;
  
}

body, select, input {
  color: #d0d0d0;
}

select, input {
  background-color: #151618;
  border: solid 1px #c0c0c0;
}

input[type="button"]:hover {
  background-color: #303336;
}

a, a:visited {
  color: #d0d0d0;
  text-decoration: none;
}

a:hover {
  color: #f0f0d0;
}

li {
  margin-bottom: 4px;
}

.title {
  font-weight: bold;
  color: white;
}

.label {
  display: inline-block;
}

.label, select {
  vertical-align: super;
}

.freq-label {
  width: 70px;
  text-align: right;
}

.nav {
  margin-top: 40px;
}
