[submodule "googletest"]
    path = test/googletest
    url = https://github.com/google/googletest.git
[submodule "test/googletest"]
	path = test/googletest
	url = https://github.com/google/googletest.git
[submodule "pulse/src/kissfft"]
	path = pulse/src/kissfft
	url = https://github.com/AWSM-WASM/kissfft.git
